<?xml version="1.0"?>
<config>   
  <modules>
    <Magebuzz_Advancedreview>
      <version>0.1.2</version>
    </Magebuzz_Advancedreview>
  </modules>
    <frontend>
      <routers>
        <advancedreview>
          <use>standard</use>
          <args>
            <module>Magebuzz_Advancedreview</module>
            <frontName>advancedreview</frontName>
          </args>
        </advancedreview>
      </routers>
      <layout>
        <updates>
          <advancedreview>
            <file>advancedreview.xml</file>
          </advancedreview>
        </updates>
      </layout>  
    </frontend>
    <admin>
      <routers>
			 <advancedreview>
				<use>admin</use>
				<args>
					<module>Magebuzz_Advancedreview</module>
					<frontName>advancedreview</frontName>
				</args>
			 </advancedreview>
      </routers>
    </admin>
    <adminhtml>	
		<acl>
			<resources>
				<all>
			   <title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magebuzz_Advancedreview>
							<title>Advancedreview Module</title>
							<sort_order>10</sort_order>
						</Magebuzz_Advancedreview>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<advancedreview>
					<file>advancedreview.xml</file>
				</advancedreview>
			</updates>
		</layout>
    </adminhtml>   
    <global>
      <events>
        <review_save_after>
          <observers>
            <review>
              <class>advancedreview/observer</class>
              <method>reviewSaveAfter</method>
            </review>
          </observers>
        </review_save_after>        
      </events>
      <rewrite>
        <magebuzz_advancedreview_review>
          <from><![CDATA[#^/review/product/#]]></from>
          <to>/advancedreview/review/</to>
        </magebuzz_advancedreview_review>                  
      </rewrite>
      <models>
        <advancedreview>
          <class>Magebuzz_Advancedreview_Model</class>
          <resourceModel>advancedreview_mysql4</resourceModel>
        </advancedreview>
          <advancedreview_mysql4>
            <class>Magebuzz_Advancedreview_Model_Mysql4</class>
            <entities>
          <advancedreview>
            <table>advancedreview</table>
            </advancedreview>
              </entities>
            </advancedreview_mysql4>
        </models>
        <resources>
          <advancedreview_setup>
            <setup>
              <module>Magebuzz_Advancedreview</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
            </advancedreview_setup>
            <advancedreview_write>
              <connection>
                <use>core_write</use>
              </connection>
            </advancedreview_write>
            <advancedreview_read>
              <connection>
                <use>core_read</use>
              </connection>
            </advancedreview_read>
        </resources>
        <blocks>
          <advancedreview>
            <class>Magebuzz_Advancedreview_Block</class>
          </advancedreview>
          <review>
            <rewrite>
              <helper>Magebuzz_Advancedreview_Block_Helper</helper>    
              <form>Magebuzz_Advancedreview_Block_Form</form>                
            </rewrite>
          </review>        
        </blocks>
        <helpers>
          <advancedreview>
            <class>Magebuzz_Advancedreview_Helper</class>
          </advancedreview>
        </helpers>
        <template>
          <email>
            <advancedreview_email_setting_email_review_customer_template translate="label" module="advancedreview">
              <label>Email Customer Review Template</label>
              <file>advancedreview_email_customer.html</file>
              <type>text</type>
            </advancedreview_email_setting_email_review_customer_template>
            <advancedreview_email_setting_email_review_template translate="label" module="advancedreview">
              <lable>Admin Email Review Template</lable>
              <file>advancedreview_email_admin.html</file>
            <type>text</type>
        </advancedreview_email_setting_email_review_template>
      </email>
    </template>
  </global>
</config>