.create_time{width:100%;float:left;padding-bottom: 5px;border-bottom: 1px dotted rgb(163, 150, 150)}
.nick_name{width:100%;float:left;}
.comment{width:100%;float:left;}
.title{width:100%;float:left;padding-top:5px}